<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvVRjtZLRIMFwkUmqcMcfu7O1hjWV8nj4</string>
	<key>GCM_SENDER_ID</key>
	<string>214342688834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.warehouse</string>
	<key>PROJECT_ID</key>
	<string>warehouse-48434</string>
	<key>STORAGE_BUCKET</key>
	<string>warehouse-48434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214342688834:ios:45d5543352c9c349490ddb</string>
</dict>
</plist>